.navBar a {
    text-decoration: none;
    color: black;
    display: block;
}

.navBar {
    position: fixed;
    top: 79px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(187,163,145,.85);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 1000;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: 1280px;
    height: 100%;
}

.titles {
    display: block;
    margin-right: 74px;
}

.subtitles {
    display: block;
}

.container {
    padding-top: 48px;
    display: flex;
    background-color: #f5ebdc;
    z-index: 10;
    width: 520px;
}

.menuItem {
    font-size: 26px;
    font-family: Robo, sans-serif;
    text-align: left;
}

.menuItem + .menuItem {
    margin-top: 20px;

}

.menuSmallItem {
    font-size: 16px;
    font-family: Robo, sans-serif;
    text-align: left;
}

.menuSmallItem + .menuSmallItem {
    margin-top: 20px;
}


.wrapper:before {
    left: 0;
    content: '';
    position: absolute;
    width: 30vw;
    height: 100%;
    background-color: #f5ebdc;
    z-index: 1;
}

.navBar.active {
    display: block;
}


